@model IEnumerable<BitacoraDireccionesIp.Models.tb_bit_cat_area>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pk_cve_area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.des_area)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pk_cve_area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.des_area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.pk_cve_area }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_cve_area}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_cve_area })
        </td>
    </tr>
}

</table>
